/************ 공통사항 *************/
a {text-decoration: none; color: inherit;}
* {box-sizing: border-box;}

html, body{position: relative; height: 100%;}
	
body {margin: 0; padding: 0; }

p {margin-bottom: 0;}
.hover-line {display: inline-block;}
.hover-line::after {display: block; content: ""; border-top: 1px solid #111;transition: all 0.3s; transform: scaleX(0); transform-origin: left;}
.hover-line:hover::after {transform: scaleX(1);}



.gray {color: #777;}
.gold{color: #fff; background-color: rgb(180, 158, 103); border-radius: 0.2em; padding: 0.4em 1em; letter-spacing: 0.3em; font-size: 0.7em; display: inline-block;}

.sgold{color: #fff; background-color: rgb(180, 158, 103); border-radius: 0.2em; padding: 0em 0.3em; letter-spacing: 0.02em; font-size: 0.7em; display: inline-block; margin-left: 1em;}

.silver{color: #fff; background-color: rgb(177, 177, 177); border-radius: 0.2em; padding:0 0.3em; letter-spacing: -0.015em; font-size: 0.7em; display: inline-block; margin-left: 1em;}
.w-100{width: 100%;}
.rel {position: relative;}

.wrapper {max-width: 1450px; margin: auto;}
.wrapper-mid {max-width: 1400px; margin: auto;}
.wrapper-sm {padding: 0 5em; margin: auto;}
.main-wrapper > .swiper-container {width: 100%; height: 100%;}
.main-wrapper > .swiper-slide {text-align: center; display: flex; justify-content: center; align-items: center;}


/* header */
.header-wrapper{display: flex; justify-content: center; color: #fff;width: 100%;}
.header-wrapper > .free {width: 100%; background-color: rgb(221, 120, 120); text-align: center; padding: 0.3em 0;}
.header-wrapper > .free > button{border: 0; background-color: inherit; color: #fff; font-weight: bold; font-size: 1.2em; float: right;}

.header {position: relative;}
/* navi */
.navi-wrapper {z-index: 3; width: 100%; padding:1.4em 0;color: #fff; height: auto; position: absolute; top: 0;} 
.navi-wrapper .navi-wrap {}

.navi-left {width: 100%; display: flex; position: relative; align-items: center; justify-content: flex-start; padding: 0 10.5em; text-align: center;}
.navi-left .menu {width: 5em; }
.navi-left .home {margin-left : 2em;}

 .navi-bg{width: 100%;  position: absolute; left: 50%; top: 3em;transform: translateX(-50%); text-align: left; border-top: 1px solid #eee; background-color: #fff; display: none;}
 .navi-bg .home-sub {display: flex; max-width: 1300px; margin: auto;}

 .navi-bg .home-sub ul {flex: 20% 0 0; padding-top: 2em;}
.navi-bg ul > li.main-title{padding-bottom: 0.7em; letter-spacing: 0.25em; }
.navi-bg ul > li{line-height: 1.8em; }
.navi-bg ul > img {width: 300px; padding-bottom: 1em;}


.navi-left > i {color: #fff; font-size: 1.3em; margin-right: 1.5em;}
.logoimg-wrap .img {width: 100px; }
.logoimg-wrap {position: relative;}
.logoimg-wrap .logo-b {position: absolute; left: 0; top: 0.15em; opacity: 0;}


/* .navi-right {display: flex; justify-content: flex-end; padding: 0 5em;} */
.navi-right {display: flex; position: absolute; right: 5em; top: 1.45em;}
.navi-right p.login {}
.navi-right i {padding: 0 0.7em; margin-top: 0.2em; font-size: 1.2em;}









/*  banner*/
.banner-wrapper .banner-wrap img{position: relative;}
.banner-wrapper .banner-wrap .slogan-wrapper{position: absolute;top: 50%; left: 20%; transform: translateY(-50%); text-align: left; color: #fff;}
.banner-wrapper .banner-wrap .slogan-wrapper > .title-sub{background-color: rgb(180, 158, 103); border-radius: 0.2em; padding: 0.4em 1em; letter-spacing: 0.3em; font-size: 0.7em; display: inline-block;}
.banner-wrapper .banner-wrap .slogan-wrapper > .title{font-size: 5em;}
.banner-wrapper .banner-wrap .slogan-wrapper > .summury{font-size: 1.2em;}

.pager-wrapper {display: flex; position: absolute; bottom: 15%; left: 18%; z-index: 2;  text-align: center;}
.pager-wrapper .bt-arrow{background-color: rgba(0,0,0,0.5); border-radius: 50%; width: 3.5em; height: 3.5em;opacity: 0.9; margin: 0 0.5em; position: relative;}
.pager-wrapper .bt-arrow > i{color: #fff;}



/* product-wrapper */

.product-wrapper .swiper-container {margin-top: 2em; width: 100%; height: 100%;}
   
.product-wrapper .swiper-slide {text-align: center; font-size: 18px;background: #fff; display: flex; justify-content: center; align-items: center; flex: 25% 0 0; }


.product-wrapper {width: 100%; margin-top: 4em;;}
.product-wrapper .text-wrapper{text-align: center;}
.product-wrapper .text-wrapper .main-title{font-size: 2em;}

.product-wrap {position: relative;}
.product-wrap .product {display: flex; background-color: #fff; text-align: left; padding-top: 2em;}
.product img {width: 320px; height: 310px; cursor: pointer;}

.product-wrap .product .pro-pack {position: relative; background-color: #fff; }
.product-wrap .product .pro-show {position: absolute; opacity: 0; background-color: #fff; transition: all 0.6s;}
.product-wrap .product .pro-show:hover{opacity: 1;}

.product-wrap .p-title {margin-top: 0.3em; cursor: pointer; font-size: 0.9em; text-align: left; position: relative;}
.product-wrap .p-title > i{position: absolute; right: 0; top: 0.33em;}
.product-wrap .sales {color: #666; font-size: 0.7em; cursor: pointer; text-align: left; }



.product-wrap .quick-wrap { position: absolute; top: 270px; text-align: center; line-height: 40px; cursor: pointer;}
.pro-show .quick-wrap .quick {width: 320px; height: 40px; background: rgba(255, 255, 255, 0.7); cursor: pointer; font-size: 0.7em;}

.product-wrap > .probt {position: absolute; top: 40%; transform: translateY(-40%);  z-index: 5; font-size: 3em; opacity: 0; transition: all 0.7s;}
.product-wrap > .bt-next {position: absolute; right: 1%;}
.product-wrap > .bt-prev {position: absolute; left: 1%;}

.product-wrap:hover > .probt {opacity: 0.7;}



/* new-designs */
.newdesign-wrapper {background-color: rgb(243, 243, 243); text-align: center;  margin-top: 4em; padding-bottom: 4em;}


.newdesignbt {border: 2px solid #111; margin-top: 3em; padding: 1em 1.5em;}
.newdesign-wrapper .swiper-container {margin-top: 2em; width: 100%; height: 100%;}
.newdesign-wrapper .swiper-slide {text-align: center; font-size: 18px; display: flex; justify-content: center; align-items: center; flex: 25% 0 0; }


.newdesign-wrapper .text-wrapper{text-align: center; padding-top: 4em;}
.newdesign-wrapper .text-wrapper .main-title{font-size: 2em;}
.newdesign-wrapper .text-wrapper p.letter{color:#555; padding-top: 2em;}

.newdesign-wrap {position: relative;}
.newdesign-wrap .newdesign {display: flex; background-color: rgb(243, 243, 243); text-align: left; padding-top: 2em;}
.newdesign img {width: 320px; height: 310px; cursor: pointer;}

.newdesign-wrap .newdesign .pro-pack {position: relative; }
.newdesign-wrap .newdesign .pro-show {position: absolute; opacity: 0;transition: all 0.6s; background-color: rgb(243, 243, 243);}
.newdesign-wrap .newdesign .pro-show:hover{opacity: 1;}

.newdesign-wrap .p-title {margin-top: 0.3em; cursor: pointer; font-size: 0.9em; text-align: left; position: relative;}
.newdesign-wrap .p-title > i{position: absolute; right: 0; top: 0.33em;}
.newdesign-wrap .sales {color: #666; font-size: 0.7em; cursor: pointer; text-align: left; }



.newdesign-wrap .quick-wrap {position: absolute; top: 270px; text-align: center; line-height: 40px; cursor: pointer;}
.newdesign-wrap .pro-show .quick-wrap .quick {width: 320px; height: 40px; background: rgba(255, 255, 255, 0.7); cursor: pointer; font-size: 0.7em;}

.newdesign-wrap > .probt {position: absolute; top: 40%; transform: translateY(-40%);  z-index: 5; font-size: 3em; opacity: 0; transition: all 0.7s;}
.newdesign-wrap > .bt-next {position: absolute; right: 1%;}
.newdesign-wrap > .bt-prev {position: absolute; left: 1%;}

.newdesign-wrap:hover > .probt {opacity: 0.7;}


/* simple-design */
.simple-wrapper {max-width: 100%; position: relative; height: 700px; border-bottom: 1px solid #eee;}
.simple-wrapper > .text-wrapper {width: 25%; text-align: right; position: absolute; top: 50%;  left: 41%; transform: translate(-41%, -50%); z-index: 5;}
.simple-wrapper .text-wrapper .main-title {font-size: 2.5em;}
.simple-wrapper .text-wrapper p.letter {letter-spacing: -0.02em; padding-top: 1em; color: #666;}
.simple-wrapper .img-wrap {position: absolute; top: 50%;  left: 68%; transform: translate(-68%, -50%);}
.simple-wrapper .img-wrap img {width: 400px;}


/* threec */
.content-wrapper {width: 100%; margin-top: 3.5em;}

.icon-wrapper {display: flex; justify-content: space-between; align-items: center; height: 250px;}
.icon-wrapper .icon-wrap {text-align: center; margin-top: 3em; flex: 33.3333% 0 0; }
.icon-wrapper .icon-wrap > i {font-size: 3em;}
.icon-wrapper .icon-wrap p.title {margin-top: 1em; font-size: 1.3em;}
.icon-wrapper .icon-wrap p.summury {margin-top: 1em;}

.content-wrap {width: 100%;}
.content-wrap .content {display: flex; justify-content: space-between; align-items: center;}

.content-wrap .content .swiper-slide {flex: 30% 0 0; margin: 0 1%; padding-top: 4em; position: relative;}

.content-wrap .content .img-wrap {height: 250px; overflow: hidden;}
.content-wrap .content .img-wrap img {width: 454px; transition: all 0.7s; overflow: hidden;}

.content-wrap p.subtitle {font-size: 0.8em; letter-spacing: 0.14em; padding-top: 1.7em;}
.content-wrap p.maintitle {font-size: 1.17em;}
.content-wrap p.day {padding-top: 0.5em;}
.content-wrap p.summury {padding-top: 0.5em; height: 100px;}

.content-wrapper img:hover {transform: scale(1.035);}

.content-wrapper .swiper-pagination-bullet-active{background-color: burlywood;}
.swiper-pagination {position: static; margin-top: 2em;}


.content-wrap > .probt {position: absolute; top: 40%; transform: translateY(-40%);  z-index: 5; font-size: 3em; opacity: 0; transition: all 0.7s; color: #fff;}
.content-wrap > .bt-next {position: absolute; right: 1%;}
.content-wrap > .bt-prev {position: absolute; left: 1%;}

.content-wrap:hover > .probt {opacity: 0.7;}

/* footer-wrapper */
footer {background-color: #333; color: #fff;}
.footer-wrapper {display: flex; justify-content: space-between; margin-bottom: 2em;}
.footer-wrapper .ft-wrapper{display: flex; width: 75%; padding-top: 2em; }
.footer-wrapper .ft-wrapper .company {width: 100%;}
.footer-wrapper .ft-wrapper .company > p {padding-top: 1em;}
.footer-wrapper .ft-wrapper .company > p:first-child{color:#888; letter-spacing: 0.1em;}


.footer-wrapper .theme{padding-top: 2em; color: #888;}
.footer-wrapper .theme > p{padding-top: 1em;}
.footer-wrapper .theme > form {padding-top: 7em;}
.footer-wrapper .theme > form > input {padding-right: 2.5em; padding: 0.8em 1em;}
.footer-wrapper .theme > form > button {border: 2px solid #fff; background-color: inherit; color: #fff; padding: 0.75em 1.5em;margin-left: 0.6em;}

.fam {border-top: 1px solid #444;}
.fam .ft-fam{padding: 0.7em 1.5em;  display: flex; justify-content: space-between; align-items: center; }
.f-icon > a > i {background-color: red; color: #fff; font-size: 1.5em;}

.lang {align-items: center;  position: relative;}
.lang p {padding-right: 1em; color: #777;}
.lang p span{color: #fff; padding-left: 0.5em;}

em.lang1 {position: absolute; left: 28%; top: -10%; background-color: #fff; display: none;}
em.lang1 > p {padding: 0.5em 1em;}
em.sel > p:hover {background-color: #eee;}


em.lang2 {position: absolute; right: 10%; top: -10%; background-color: #fff;  display: none;}
em.lang2 > p {padding: 0.5em 1em;}

i.fa-angle-down {color: #fff;}


/************ 반응형 *************/
@media screen and (max-width: 1400px) {
.product img {width: 250px; height: 240px;}
.product-wrap .quick-wrap {top: 270px;}
.pro-show .quick-wrap .quick {width: 250px; height: 40px;}

.newdesign img {width: 250px; height: 240px; cursor: pointer;}
.newdesign-wrap .quick-wrap {top: 270px; }
.newdesign-wrap .pro-show .quick-wrap .quick {width: 250px;}

.content-wrap .content .swiper-slide {flex: 30% 0 0;}

.content-wrap .content .img-wrap {height: 180px;}
.content-wrap .content .img-wrap img {width: 310px;}

}
@media screen and (max-width: 1199px) {
	
}

@media screen and (max-width: 991px) {
	.navi-left {padding: 0 5.5em;}
	.navi-left .menu {display: none;}
	.navi-wrap .logoimg-wrap {position: absolute; left: 50%; transform: translateX(-50%);}
	.navi-right > p {display: none;}
	.navi-right > .search {display: none;}
	.navi-right > .heart {display: none;}

	.product-wrapper .swiper-slide {flex: 33.3333% 0 0; }
	.newdesign-wrapper .swiper-slide {flex: 33.3333% 0 0; }


}

@media screen and (max-width: 767px) {
	.product-wrapper .swiper-slide {flex: 50% 0 0; }
	.newdesign-wrapper .swiper-slide {flex: 50% 0 0; }
	.icon-wrapper {display: block;}
	
	.content-wrap .content .swiper-slide {flex: 30% 0 0; margin: 0 1%; padding-top: 4em; position: relative;}

	.content-wrap .content .img-wrap {height: 250px; overflow: hidden;}
	.content-wrap .content .img-wrap img {width: 454px; transition: all 0.7s; overflow: hidden;}
}

@media screen and (max-width: 575px) {

}
