html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}


.product-wrap .product { background-color: #fff;}


.product-wrap img {width: 330px; height: 350px; cursor: pointer;}

.product-wrap .product .pro-pack {position: relative; background-color: #fff;}
.product-wrap .product .pro-show {position: absolute; opacity: 0; background-color: #fff; transition: all 0.6s;}
.product-wrap .product .pro-show:hover{opacity: 1;}

.product-wrap .p-title {margin-top: 0.7em; cursor: pointer;}
.product-wrap .sales {color: #666; font-size: 0.9em; cursor: pointer;}
.product-wrap .quick-wrap {position: absolute; top: 300px; text-align: center; line-height: 50px; cursor: pointer;}
.pro-show .quick-wrap .quick {width: 330px; height: 50px; background-color: #fff;cursor: pointer;}