/* 
.header {position: relative; background-color: green; height: 100vh;}
.navi-wrapper {z-index: 3; width: 100%; padding:1.4em 0;color: #fff; height: auto; position: absolute; top: 0;} 
.navi-wrapper .navi-wrap {}

.navi-left {width: 100%; display: flex; position: relative; align-items: center; justify-content: flex-start; padding: 0 10.5em; text-align: center;}
.navi-left .menu {width: 5em; }
.navi-left .home {margin-left : 2em;}

 .navi-bg{width: 100%;  position: absolute; left: 50%; top: 3em;transform: translateX(-50%); text-align: left; border-top: 1px solid #eee; background-color: #fff; display: none;}
 .navi-bg .home-sub {display: flex; max-width: 1300px; margin: auto;}

 .navi-bg .home-sub ul {flex: 20% 0 0; padding-top: 2em;}
.navi-bg ul > li.main-title{padding-bottom: 0.7em; letter-spacing: 0.25em; }
.navi-bg ul > li{line-height: 1.8em; }
.navi-bg ul > img {width: 300px; padding-bottom: 1em;}


.navi-left > i {color: #fff; font-size: 1.3em; margin-right: 1.5em;}
.logoimg-wrap .img {width: 100px; }
.logoimg-wrap {position: relative;}
.logoimg-wrap .logo-b {position: absolute; left: 0; top: 0.15em; opacity: 0;}
 */